<footer class="footer">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-3 d-flex">
                <i class="fa-solid fa-location-dot icon"></i>
                <div class="data ">
                    <h4>Address</h4>
                    <p>A108 Adam Street</p>
                    <p>New York, NY 535022</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <i class="fa-solid fa-phone icon"></i>
                <div class="data ">
                    <h4>Contact</h4>
                    <p>Phone: +1 5589 55488 55
                    </p>
                    <p>New York, NY 535022</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <i class="fa-regular fa-clock icon"></i>
                <div class="data ">
                    <h4>Opening Hours
                    </h4>
                    <p>Mon-Sat: 11AM - 23PM

                    </p>
                    <p>Sunday: Closed

                    </p>
                </div>
            </div>
            <div class="col-md-3">
                    <h4>Follow Us</h4>
                    <div class="links d-flex">
                       <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
                       <a href="">   <i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
            </div>
          
        </div>
        <div class="container copyright text-center mt-4">
                <p>© Copyright Yummy All Rights Reserved</p>
                <p> Designed by  <span>BootstrapMade</span></p>
        </div>
    </div>
</footer>
