<section class="menu">
    <div class="container title">
        <h2>Our Menu</h2>
        <p>Check Our <span>Yummy Menu</span></p>
    </div>
    <div class="container">
        <ul class="nav nav-tabs d-flex justify-content-center">
            <li class="nav-item" role="presentation">
              <a class="nav-link show active rounded" data-bs-toggle="tab" data-bs-target="#menu-starters" aria-selected="true" role="tab">
                <h4>Starters</h4>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link show rounded " data-bs-toggle="tab" data-bs-target="#menu-starters" aria-selected="true" role="tab">
                <h4>Breakfast</h4>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link show rounded " data-bs-toggle="tab" data-bs-target="#menu-starters" aria-selected="true" role="tab">
                <h4>Lunch</h4>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link show rounded " data-bs-toggle="tab" data-bs-target="#menu-starters" aria-selected="true" role="tab">
                <h4>Dinner</h4>
              </a>
            </li>
          </ul>
          <div class="tab-content aos-init aos-animate">
            <div class="tab-pane fade active show">
                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Starters</h3>
                </div>
                <div class="row gy-5">
                    <div class="col-md-4 menu-item">
                        <img src="/images/hero-img (1).png" alt="">
                        <h4>Magnam Tiste</h4>
                        <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                        <p class="price">$5.95

                        </p>
                    </div>
                    <div class="col-md-4 menu-item">
                        <img src="/images/menu-item-2.png" alt="">
                        <h4>Aut Luia
                        </h4>
                        <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                        <p class="price">$14.95



                        </p>
                    </div>
                    <div class="col-md-4 menu-item">
                        <img src="/images/menu-item-3.png" alt="">
                        <h4>Est Eligendi
                        </h4>
                        <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                        <p class="price">$8.95



                        </p>
                    </div>
                    <div class="col-md-4 menu-item">
                        <img src="/images/menu-item-4.png" alt="">
                        <h4>Eos Luibusdam
                        </h4>
                        <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                        <p class="price">$12.95



                        </p>
                    </div>
                    <div class="col-md-4 menu-item">
                        <img src="/images/menu-item-5.png" alt="">
                        <h4>Eos Luibusdam
                        </h4>
                        <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                        <p class="price">$12.95



                        </p>
                    </div>
                    <div class="col-md-4 menu-item">
                        <img src="/images/menu-item-6.png" alt="">
                        <h4>Laboriosam Direva
                        </h4>
                        <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                        <p class="price">$9.95



                        </p>
                    </div>
                </div>
            </div>
          </div>
          
    </div>
</section>


<section id="client" class="Testimonials">
    <div class="container">
      <div class="contant text-center fw-bolder pb-5">
        <h2>TESTIMONIALS</h2>
        <p>What Are They <span>Saying About Us</span> </p>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item text-center active pb-5 " data-bs-interval="1000" >
            <img class="pt-1" src="/images/testimonials-1.jpg" alt="client">
            <div class="carousel pt-5 ">
             <p class="text-muted fw-bold">
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. <br> Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            </p>
            <h3>Saul Goodman</h3>
            <h4>Ceo & Founder</h4>
            <div class="stars">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </div>
            </div>
        </div>
          <div class="carousel-item text-center  pb-5 " data-bs-interval="1000"   >
            <img class="pt-1" src="/images/testimonials-2.jpg" alt="client">
            <div class="carousel pt-5 ">
             <p class="text-muted fw-bold">
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum <br> quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            </p>
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <div class="stars">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </div>
            </div>
        </div>
          <div class="carousel-item text-center  pb-5 " data-bs-interval="1000"  >
            <img class="pt-1" src="/images/testimonials-3.jpg" alt="client">
            <div class="carousel pt-5 ">
             <p class="text-muted fw-bold">
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis <br> minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            </p>
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <div class="stars">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </div>
            </div>
        </div>
          <div class="carousel-item text-center  pb-5 " data-bs-interval="1000"  >
            <img class="pt-1" src="/images/testimonials-4.jpg" alt="client">
            <div class="carousel pt-5 ">
             <p class="text-muted fw-bold">
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit <br> minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
            </p>
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <div class="stars">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            </div>
            </div>
        </div>
      </div>
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide "></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" ></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" ></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" ></button>
      </div>
    </div>
