<div id="gallery" class="gallery padding-section">
    <div class="container">
        <div class="contant text-center">
          <h3>gallery</h3>
          <p>Check <span>Our Gallery</span></p>
        </div>
        <div class="gallery-photos">
          <picture class="pizza">
            <img src="/images/meal-1.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>
          <picture class="pizza">
            <img src="/images/meal-4.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>
          <picture class="pizza">
            <img src="/images/meal-2.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>
          <picture class="pizza">
            <img src="/images/meal-7.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>
          <picture class="pizza">
            <img src="/images/meal-3.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>
          <picture class="pizza">
            <img src="/images/meal-5.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>
          <picture class="pizza">
            <img src="/images/meal-6.jpg" alt="pizza">
            <div class="layer">
              <h2 class="meal-name">Pizza</h2>
              <p>Hawaiian pizza with ham and pineapple</p>
            </div>
          </picture>

        </div>
    </div>
</div>