
<section id="client" class="Testimonials">
    <div class="container">
      <div class="contant text-center fw-bolder pb-5">
        <h2>TESTIMONIALS</h2>
        <p>What Are They <span>Saying About Us</span> </p>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner my-car">
          <div class="carousel-item  event-item text-center active pb-5 " data-bs-interval="2000" >
            <img class="pt-1" src="/images/events-1.jpg" alt="client">
            <div class="carousel pt-5 ">
            <h3 >Custom Parties</h3>
            <div class="price align-self-start">$99</div>
            <div class="description">
                Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.
              </div>
            </div>
        </div>
          <div class="carousel-item  event-item text-center active pb-5 " data-bs-interval="2000" >
            <img class="pt-1" src="/images/events-1.jpg" alt="client">
            <div class="carousel pt-5 ">
            <h3 >Custom Parties</h3>
            <div class="price align-self-start">$99</div>
            <div class="description">
                Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide "></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" ></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" ></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" ></button>
      </div>
    </div>
